@charset "UTF-8";

/* Inter */

@font-face {
  font-family: Inter;
  src: url('assets/fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
  font-family: Inter;
  font-weight: bold;
  src: url('assets/fonts/Inter/static/Inter-Bold.ttf');
}


/* Send */

@font-face {
  font-family: Sen;
  src: url('assets/fonts/Sen/Sen-Regular.ttf');
}

@font-face {
  font-family: Sen;
  font-weight: bold;
  src: url('assets/fonts/Sen/Sen-Bold.ttf');
}

@font-face {
  font-family: Sen;
  font-weight: bolder;
  src: url('assets/fonts/Sen/Sen-ExtraBold.ttf');
}
